////////////TEXT CLASSES//////////
.large-text {
    font-size: 2.2em;
}

.medium-text {
    font-size: 0.95em;
}

.small-text {
    font-size: 0.8em;
    width: 100%;
    line-height: 20px;
}

.center-block {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.forme {
    position: relative;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
}

p {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 1.6em;
    font-weight: lighter;
    letter-spacing: 1px;
}

a:link {
    text-decoration: none;
}

.row2-col1-row1 {
    padding: 40px;
    .guitar {
        text-align: center;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .corde1 {
        width: 1px;
        height: 100%;
        background-color: black;
        margin: 0 35px;
    }
    .corde2 {
        width: 1px;
        height: 100%;
        background-color: black;
        margin: 0 35px;
    }
    .corde3 {
        width: 1px;
        height: 100%;
        background-color: black;
        margin: 0 35px;
    }
    .corde4 {
        width: 1px;
        height: 100%;
        background-color: black;
        margin: 0 35px;
    }
    .corde5 {
        width: 1px;
        height: 100%;
        background-color: black;
        margin: 0 35px;
    }
}

.row2-col3 {
    padding: 14px;
    .cadre1 {
        border: 1px solid black;
        height: 100%;
        padding: 14px;
    }
    .cadre2 {
        border: 1px solid black;
        height: 100%;
        text-align: center;
        position: relative;
        .medium-text {
            margin-top: 10px;
        }
        .small-text {
            position: absolute;
            bottom: 20px;
        }
    }
}

.row2-col1-row2,
.row3-col1-row1-col2,
.row3-col3-col1,
.row4-col1-row2,
.row4-col2-row1,
.row4-col2-row2-col2,
.row5-col1-row1-col1,
.row5-col3-row1,
.row6-col1,
.row6-col2,
.row6-col3,
{
    position: relative;
    .small-text {
        margin-left: 20px;
    }
}

.titre {
    position: relative;
    height: auto;
    width: 90%;
    margin-left: 20px;
    top: 20px;
}

.schiele {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    img {
        position: absolute;
        width: 12px;
        height: 12px;
        right: 20px;
        bottom: 4px;
    }
}

//////////IMAGES∕∕∕∕∕∕∕∕∕∕
.row3-col1-row1-col1 {
    position: relative;
    .back {
        background-image: url('../../assets/img/gloryHoleBack.jpg');
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
    }
    .front {
        position: absolute;
        background-image: url('../../assets/img/gloryHoleFront.png');
        width: 100%;
        top: 0;
        height: 100%;
        background-size: cover;
        background-position: center center;
    }
}

.row3-col1-row2 {
    background-image: url('../../assets/img/wagner.jpg');
    background-size: cover;
}

.row3-col3-col2 {
    background-image: url('../../assets/img/schiele.jpg');
    background-size: cover;
}

.row4-col2-row2-col1 {
    background-image: url('../../assets/img/klimt.jpg');
    background-size: cover;
}

.row5-col1-row2 {
    background-image: url('../../assets/img/moser.jpg');
    background-size: cover;
}

.row3-col2 {
    padding: 28px;
    .img-block {
        background-image: url('../../assets/img/schiele-portrait.jpg');
    }
}

.row4-col1-row1 {
    padding: 28px;
    .img-block {
        background-image: url('../../assets/img/klimt-portrait.jpg');
    }
}

.row4-col3-row2 {
    padding: 28px;
    .img-block {
        background-image: url('../../assets/img/wagner-portrait.jpg');
    }
}

.row5-col2 {
    padding: 28px;
    .img-block {
        background-image: url('../../assets/img/moser-portrait.jpg');
    }
}

.img-block {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.text-block {
    display: flex;
    width: auto;
    height: 20px;
    p {
        width: auto;
    }
}