@mixin svgCenter () {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

//GRID
header {
    display: grid;
    width: 100vw;
    grid-template-columns: 33.333333% 33.333333% 33.333333%;
    grid-template-rows: 90px;
    .row1-col1 {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        .row1-col1-col1 {
            grid-column: 1;
            grid-row: 1;
            border-right: solid 1px black;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 33.333333% 33.333333% 33.333333%;
            text-align: center;
            .row1-col1-col1-row1 {
                grid-column: 1;
                grid-row: 1;
                border-bottom: solid 1px black;
            }
            .row1-col1-col1-row2 {
                grid-column: 1;
                grid-row: 2;
            }
            .row1-col1-col1-row3 {
                grid-column: 1;
                grid-row: 3;
                border-top: solid 1px black;
            }
        }
        .row1-col1-col2 {
            grid-column: 2;
            grid-row: 1;
            border-right: solid 1px black;
            text-align: center;
        }
    }
    .row1-col2 {
        grid-column: 2;
        grid-row: 1;
        border-right: solid 1px black;
    }
    .row1-col3 {
        grid-column: 3;
        grid-row: 1;
        border-right: solid 1px black;
        display: grid;
        width: 100%;
        grid-template-columns: 38% 38% 24%;
        grid-template-rows: 100%;
        .row1-col3-col1 {
            grid-column: 1;
            grid-row: 1;
        }
        .row1-col3-col2 {
            grid-column: 2;
            grid-row: 1;
            border-left: solid 1px black;
            border-right: solid 1px black;
        }
        .row1-col3-col3 {
            grid-column: 3;
            grid-row: 1;
        }
    }
}

.container {
    display: grid;
    width: 100vw;
    grid-template-columns: 33.333333% 33.333333% 33.333333%;
    grid-template-rows: 435px 435px 700px 435px 220px;
    .row2-col1 {
        grid-column: 1;
        grid-row: 1;
        border-right: solid 1px black;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 165px auto;
        .row2-col1-row1 {
            grid-column: 1;
            grid-row: 1;
            border: solid 1px black;
        }
        .row2-col1-row2 {
            grid-column: 1;
            grid-row: 2;
            border: solid 1px black;
        }
    }
    .row2-col2 {
        grid-column: 2;
        grid-row: 1;
        border: solid 1px black;
    }
    .row2-col3 {
        grid-column: 3;
        grid-row: 1;
        border: solid 1px black;
    }
    .row3-col1 {
        grid-column: 1;
        grid-row: 2;
        border: solid 1px black;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        .row3-col1-row1 {
            grid-column: 1;
            grid-row: 1;
            border: solid 1px black;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
            .row3-col1-row1-col1 {
                grid-column: 1;
                grid-row: 1;
                border: solid 1px black;
            }
            .row3-col1-row1-col2 {
                grid-column: 2;
                grid-row: 1;
                border: solid 1px black;
            }
        }
        .row3-col1-row2 {
            grid-column: 1;
            grid-row: 2;
            border: solid 1px black;
        }
    }
    .row3-col2 {
        grid-column: 2;
        grid-row: 2;
        border: solid 1px black;
    }
    .row3-col3 {
        grid-column: 3;
        grid-row: 2;
        border: solid 1px black;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        .row3-col3-col1 {
            grid-column: 1;
            grid-row: 1;
            border: solid 1px black;
        }
        .row3-col3-col2 {
            grid-column: 2;
            grid-row: 1;
            border: solid 1px black;
        }
    }
    .row4-col1 {
        grid-column: 1;
        grid-row: 3;
        border: solid 1px black;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 435px 100%;
        .row4-col1-row1 {
            grid-column: 1;
            grid-row: 1;
            border: solid 1px black;
        }
        .row4-col1-row2 {
            grid-column: 1;
            grid-row: 2;
            border: solid 1px black;
        }
    }
    .row4-col2 {
        grid-column: 2;
        grid-row: 3;
        border: solid 1px black;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 435px;
        .row4-col2-row1 {
            grid-column: 1;
            grid-row: 1;
            border: solid 1px black;
        }
        .row4-col2-row2 {
            grid-column: 1;
            grid-row: 2;
            border: solid 1px black;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
            .row4-col2-row2-col1 {
                grid-column: 1;
                grid-row: 1;
                border: solid 1px black;
            }
            .row4-col2-row2-col2 {
                grid-column: 2;
                grid-row: 1;
                border: solid 1px black;
            }
        }
    }
    .row4-col3 {
        grid-column: 3;
        grid-row: 3;
        border: solid 1px black;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 435px;
        .row4-col3-row1 {
            grid-column: 1;
            grid-row: 1;
            border: solid 1px black;
        }
        .row4-col3-row2 {
            grid-column: 1;
            grid-row: 2;
            border: solid 1px black;
        }
    }
    .row5-col1 {
        grid-column: 1;
        grid-row: 4;
        border: solid 1px black;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        .row5-col1-row1 {
            grid-column: 1;
            grid-row: 1;
            border: solid 1px black;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
            .row5-col1-row1-col1 {
                grid-column: 1;
                grid-row: 1;
                border: solid 1px black;
            }
            .row5-col1-row1-col2 {
                grid-column: 2;
                grid-row: 1;
                border: solid 1px black;
            }
        }
        .row5-col1-row2 {
            grid-column: 1;
            grid-row: 2;
            border: solid 1px black;
        }
    }
    .row5-col2 {
        grid-column: 2;
        grid-row: 4;
        border: solid 1px black;
    }
    .row5-col3 {
        grid-column: 3;
        grid-row: 4;
        border: solid 1px black;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        .row5-col3-row1 {
            grid-column: 1;
            grid-row: 1;
            border: solid 1px black;
        }
        .row5-col3-row2 {
            grid-column: 1;
            grid-row: 2;
            border: solid 1px black;
        }
    }
    .row6-col1 {
        grid-column: 1;
        grid-row: 5;
        border: solid 1px black;
    }
    .row6-col2 {
        grid-column: 2;
        grid-row: 5;
        border: solid 1px black;
    }
    .row6-col3 {
        grid-column: 3;
        grid-row: 5;
        border: solid 1px black;
    }
}

footer {
    display: grid;
    width: 100vw;
    grid-template-columns: 33.333333% 33.333333% 33.333333%;
    grid-template-rows: 90px;
    .row7-col1 {
        grid-column: 1;
        grid-row: 1;
        border: solid 1px black;
    }
    .row7-col2 {
        grid-column: 2;
        grid-row: 1;
        border: solid 1px black;
    }
    .row7-col3 {
        grid-column: 3;
        grid-row: 1;
        border: solid 1px black;
    }
}

//END OF GRID
p {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 1.6em;
    font-weight: lighter;
    letter-spacing: 1px;
}

a:link {
    text-decoration: none;
}

//SVG
.logo {
    @include svgCenter();
    svg {
        width: 78%;
        height: auto;
        margin: auto;
    }
}

.sound {
    @include svgCenter();
    svg {
        width: 30%;
        height: auto;
        margin: auto;
        padding-left: 10px;
    }
}

.hamburger {
    @include svgCenter();
    svg {
        margin: auto;
    }
}

.arrow {
    @include svgCenter();
    width: 20%;
    height: 100%;
    margin: auto;
    svg {
        width: 10%;
        height: auto;
        transform: rotate(90deg);
        margin-left: auto;
    }
    p {
        font-size: 0.8em;
    }
}

//HOVERS
.row1-col1:hover {
    background-color: black;
    svg {
        fill: white;
    }
    p {
        color: white;
    }
    .row1-col1-col1 {
        border-right: 1px solid white;
    }
    .row1-col1-col1-row2 {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
}

.row1-col3-col1:hover {
    background-color: black;
    polygon {
        stroke: white;
    }
    line {
        stroke: white;
    }
}

.row1-col3-col2:hover {
    background-color: black;
    polygon {
        stroke: white;
        fill: white;
    }
    line {
        stroke: white;
    }
    p {
        color: white;
    }
}

.row1-col3-col3:hover {
    background-color: black;
    line {
        stroke: white;
    }
}