* {
  box-sizing: border-box; }

body {
  margin: 0 auto; }

header {
  display: grid;
  width: 100vw;
  grid-template-columns: 33.333333% 33.333333% 33.333333%;
  grid-template-rows: 90px; }
  header .row1-col1 {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%; }
    header .row1-col1 .row1-col1-col1 {
      grid-column: 1;
      grid-row: 1;
      border-right: solid 1px black;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 33.333333% 33.333333% 33.333333%;
      text-align: center; }
      header .row1-col1 .row1-col1-col1 .row1-col1-col1-row1 {
        grid-column: 1;
        grid-row: 1;
        border-bottom: solid 1px black; }
      header .row1-col1 .row1-col1-col1 .row1-col1-col1-row2 {
        grid-column: 1;
        grid-row: 2; }
      header .row1-col1 .row1-col1-col1 .row1-col1-col1-row3 {
        grid-column: 1;
        grid-row: 3;
        border-top: solid 1px black; }
    header .row1-col1 .row1-col1-col2 {
      grid-column: 2;
      grid-row: 1;
      border-right: solid 1px black;
      text-align: center; }
  header .row1-col2 {
    grid-column: 2;
    grid-row: 1;
    border-right: solid 1px black; }
  header .row1-col3 {
    grid-column: 3;
    grid-row: 1;
    border-right: solid 1px black;
    display: grid;
    width: 100%;
    grid-template-columns: 38% 38% 24%;
    grid-template-rows: 100%; }
    header .row1-col3 .row1-col3-col1 {
      grid-column: 1;
      grid-row: 1; }
    header .row1-col3 .row1-col3-col2 {
      grid-column: 2;
      grid-row: 1;
      border-left: solid 1px black;
      border-right: solid 1px black; }
    header .row1-col3 .row1-col3-col3 {
      grid-column: 3;
      grid-row: 1; }

.container {
  display: grid;
  width: 100vw;
  grid-template-columns: 33.333333% 33.333333% 33.333333%;
  grid-template-rows: 435px 435px 700px 435px 220px; }
  .container .row2-col1 {
    grid-column: 1;
    grid-row: 1;
    border-right: solid 1px black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 165px auto; }
    .container .row2-col1 .row2-col1-row1 {
      grid-column: 1;
      grid-row: 1;
      border: solid 1px black; }
    .container .row2-col1 .row2-col1-row2 {
      grid-column: 1;
      grid-row: 2;
      border: solid 1px black; }
  .container .row2-col2 {
    grid-column: 2;
    grid-row: 1;
    border: solid 1px black; }
  .container .row2-col3 {
    grid-column: 3;
    grid-row: 1;
    border: solid 1px black; }
  .container .row3-col1 {
    grid-column: 1;
    grid-row: 2;
    border: solid 1px black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%; }
    .container .row3-col1 .row3-col1-row1 {
      grid-column: 1;
      grid-row: 1;
      border: solid 1px black;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%; }
      .container .row3-col1 .row3-col1-row1 .row3-col1-row1-col1 {
        grid-column: 1;
        grid-row: 1;
        border: solid 1px black; }
      .container .row3-col1 .row3-col1-row1 .row3-col1-row1-col2 {
        grid-column: 2;
        grid-row: 1;
        border: solid 1px black; }
    .container .row3-col1 .row3-col1-row2 {
      grid-column: 1;
      grid-row: 2;
      border: solid 1px black; }
  .container .row3-col2 {
    grid-column: 2;
    grid-row: 2;
    border: solid 1px black; }
  .container .row3-col3 {
    grid-column: 3;
    grid-row: 2;
    border: solid 1px black;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%; }
    .container .row3-col3 .row3-col3-col1 {
      grid-column: 1;
      grid-row: 1;
      border: solid 1px black; }
    .container .row3-col3 .row3-col3-col2 {
      grid-column: 2;
      grid-row: 1;
      border: solid 1px black; }
  .container .row4-col1 {
    grid-column: 1;
    grid-row: 3;
    border: solid 1px black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 435px 100%; }
    .container .row4-col1 .row4-col1-row1 {
      grid-column: 1;
      grid-row: 1;
      border: solid 1px black; }
    .container .row4-col1 .row4-col1-row2 {
      grid-column: 1;
      grid-row: 2;
      border: solid 1px black; }
  .container .row4-col2 {
    grid-column: 2;
    grid-row: 3;
    border: solid 1px black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 435px; }
    .container .row4-col2 .row4-col2-row1 {
      grid-column: 1;
      grid-row: 1;
      border: solid 1px black; }
    .container .row4-col2 .row4-col2-row2 {
      grid-column: 1;
      grid-row: 2;
      border: solid 1px black;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%; }
      .container .row4-col2 .row4-col2-row2 .row4-col2-row2-col1 {
        grid-column: 1;
        grid-row: 1;
        border: solid 1px black; }
      .container .row4-col2 .row4-col2-row2 .row4-col2-row2-col2 {
        grid-column: 2;
        grid-row: 1;
        border: solid 1px black; }
  .container .row4-col3 {
    grid-column: 3;
    grid-row: 3;
    border: solid 1px black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 435px; }
    .container .row4-col3 .row4-col3-row1 {
      grid-column: 1;
      grid-row: 1;
      border: solid 1px black; }
    .container .row4-col3 .row4-col3-row2 {
      grid-column: 1;
      grid-row: 2;
      border: solid 1px black; }
  .container .row5-col1 {
    grid-column: 1;
    grid-row: 4;
    border: solid 1px black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%; }
    .container .row5-col1 .row5-col1-row1 {
      grid-column: 1;
      grid-row: 1;
      border: solid 1px black;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%; }
      .container .row5-col1 .row5-col1-row1 .row5-col1-row1-col1 {
        grid-column: 1;
        grid-row: 1;
        border: solid 1px black; }
      .container .row5-col1 .row5-col1-row1 .row5-col1-row1-col2 {
        grid-column: 2;
        grid-row: 1;
        border: solid 1px black; }
    .container .row5-col1 .row5-col1-row2 {
      grid-column: 1;
      grid-row: 2;
      border: solid 1px black; }
  .container .row5-col2 {
    grid-column: 2;
    grid-row: 4;
    border: solid 1px black; }
  .container .row5-col3 {
    grid-column: 3;
    grid-row: 4;
    border: solid 1px black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%; }
    .container .row5-col3 .row5-col3-row1 {
      grid-column: 1;
      grid-row: 1;
      border: solid 1px black; }
    .container .row5-col3 .row5-col3-row2 {
      grid-column: 1;
      grid-row: 2;
      border: solid 1px black; }
  .container .row6-col1 {
    grid-column: 1;
    grid-row: 5;
    border: solid 1px black; }
  .container .row6-col2 {
    grid-column: 2;
    grid-row: 5;
    border: solid 1px black; }
  .container .row6-col3 {
    grid-column: 3;
    grid-row: 5;
    border: solid 1px black; }

footer {
  display: grid;
  width: 100vw;
  grid-template-columns: 33.333333% 33.333333% 33.333333%;
  grid-template-rows: 90px; }
  footer .row7-col1 {
    grid-column: 1;
    grid-row: 1;
    border: solid 1px black; }
  footer .row7-col2 {
    grid-column: 2;
    grid-row: 1;
    border: solid 1px black; }
  footer .row7-col3 {
    grid-column: 3;
    grid-row: 1;
    border: solid 1px black; }

p {
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 1.6em;
  font-weight: lighter;
  letter-spacing: 1px; }

a:link {
  text-decoration: none; }

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }
  .logo svg {
    width: 78%;
    height: auto;
    margin: auto; }

.sound {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }
  .sound svg {
    width: 30%;
    height: auto;
    margin: auto;
    padding-left: 10px; }

.hamburger {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }
  .hamburger svg {
    margin: auto; }

.arrow {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  width: 20%;
  height: 100%;
  margin: auto; }
  .arrow svg {
    width: 10%;
    height: auto;
    transform: rotate(90deg);
    margin-left: auto; }
  .arrow p {
    font-size: 0.8em; }

.row1-col1:hover {
  background-color: black; }
  .row1-col1:hover svg {
    fill: white; }
  .row1-col1:hover p {
    color: white; }
  .row1-col1:hover .row1-col1-col1 {
    border-right: 1px solid white; }
  .row1-col1:hover .row1-col1-col1-row2 {
    border-top: 1px solid white;
    border-bottom: 1px solid white; }

.row1-col3-col1:hover {
  background-color: black; }
  .row1-col3-col1:hover polygon {
    stroke: white; }
  .row1-col3-col1:hover line {
    stroke: white; }

.row1-col3-col2:hover {
  background-color: black; }
  .row1-col3-col2:hover polygon {
    stroke: white;
    fill: white; }
  .row1-col3-col2:hover line {
    stroke: white; }
  .row1-col3-col2:hover p {
    color: white; }

.row1-col3-col3:hover {
  background-color: black; }
  .row1-col3-col3:hover line {
    stroke: white; }
