header {
  display: grid;
  width: 100vw;
  grid-template-columns: 33.333333% 33.333333% 33.333333%;
  grid-template-rows: 90px; }
  header .row1-col1 {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%; }
    header .row1-col1 .row1-col1-col1 {
      grid-column: 1;
      grid-row: 1;
      border-right: solid 1px black;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 33.333333% 33.333333% 33.333333%;
      text-align: center; }
      header .row1-col1 .row1-col1-col1 .row1-col1-col1-row1 {
        grid-column: 1;
        grid-row: 1;
        border-bottom: solid 1px black; }
      header .row1-col1 .row1-col1-col1 .row1-col1-col1-row2 {
        grid-column: 1;
        grid-row: 2; }
      header .row1-col1 .row1-col1-col1 .row1-col1-col1-row3 {
        grid-column: 1;
        grid-row: 3;
        border-top: solid 1px black; }
    header .row1-col1 .row1-col1-col2 {
      grid-column: 2;
      grid-row: 1;
      border-right: solid 1px black;
      text-align: center; }
  header .row1-col2 {
    grid-column: 2;
    grid-row: 1;
    border-right: solid 1px black; }
  header .row1-col3 {
    grid-column: 3;
    grid-row: 1;
    border-right: solid 1px black;
    display: grid;
    width: 100%;
    grid-template-columns: 38% 38% 24%;
    grid-template-rows: 100%; }
    header .row1-col3 .row1-col3-col1 {
      grid-column: 1;
      grid-row: 1; }
    header .row1-col3 .row1-col3-col2 {
      grid-column: 2;
      grid-row: 1;
      border-left: solid 1px black;
      border-right: solid 1px black; }
    header .row1-col3 .row1-col3-col3 {
      grid-column: 3;
      grid-row: 1; }

.container {
  display: grid;
  width: 100vw;
  grid-template-columns: 33.333333% 33.333333% 33.333333%;
  grid-template-rows: 435px 435px 700px 435px 220px; }
  .container .row2-col1 {
    grid-column: 1;
    grid-row: 1;
    border-right: solid 1px black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 165px auto; }
    .container .row2-col1 .row2-col1-row1 {
      grid-column: 1;
      grid-row: 1;
      border-top: solid 1px black; }
    .container .row2-col1 .row2-col1-row2 {
      grid-column: 1;
      grid-row: 2;
      border-top: solid 1px black; }
  .container .row2-col2 {
    grid-column: 2;
    grid-row: 1;
    border-right: solid 1px black;
    border-top: solid 1px black; }
  .container .row2-col3 {
    grid-column: 3;
    grid-row: 1;
    border-right: solid 1px black;
    border-top: solid 1px black; }
  .container .row3-col1 {
    grid-column: 1;
    grid-row: 2;
    border-right: solid 1px black;
    border-top: solid 1px black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%; }
    .container .row3-col1 .row3-col1-row1 {
      grid-column: 1;
      grid-row: 1;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%; }
      .container .row3-col1 .row3-col1-row1 .row3-col1-row1-col1 {
        grid-column: 1;
        grid-row: 1;
        border-bottom: solid 1px black;
        border-right: solid 1px black; }
      .container .row3-col1 .row3-col1-row1 .row3-col1-row1-col2 {
        grid-column: 2;
        grid-row: 1;
        border-bottom: solid 1px black; }
    .container .row3-col1 .row3-col1-row2 {
      grid-column: 1;
      grid-row: 2; }
  .container .row3-col2 {
    grid-column: 2;
    grid-row: 2;
    border-right: solid 1px black;
    border-top: solid 1px black; }

.row3-col3 {
  grid-column: 3;
  grid-row: 2;
  border-top: solid 1px black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%; }
  .row3-col3 .row3-col3-col1 {
    grid-column: 1;
    grid-row: 1;
    border-right: solid 1px black; }
  .row3-col3 .row3-col3-col2 {
    grid-column: 2;
    grid-row: 1;
    border-right: solid 1px black; }

.row4-col1 {
  grid-column: 1;
  grid-row: 3;
  border-top: solid 1px black;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 435px auto; }
  .row4-col1 .row4-col1-row1 {
    grid-column: 1;
    grid-row: 1;
    border-right: solid 1px black; }
  .row4-col1 .row4-col1-row2 {
    grid-column: 1;
    grid-row: 2;
    border-right: solid 1px black;
    border-top: solid 1px black; }

.row4-col2 {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 435px; }
  .row4-col2 .row4-col2-row1 {
    grid-column: 1;
    grid-row: 1;
    border-right: solid 1px black;
    border-top: solid 1px black; }
  .row4-col2 .row4-col2-row2 {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%; }
    .row4-col2 .row4-col2-row2 .row4-col2-row2-col1 {
      grid-column: 1;
      grid-row: 1;
      border-top: solid 1px black;
      border-right: solid 1px black; }
    .row4-col2 .row4-col2-row2 .row4-col2-row2-col2 {
      grid-column: 2;
      grid-row: 1;
      border-top: solid 1px black;
      border-right: solid 1px black; }

.row4-col3 {
  grid-column: 3;
  grid-row: 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 435px; }
  .row4-col3 .row4-col3-row1 {
    grid-column: 1;
    grid-row: 1;
    border-top: solid 1px black;
    border-right: solid 1px black; }
  .row4-col3 .row4-col3-row2 {
    grid-column: 1;
    grid-row: 2;
    border-right: solid 1px black;
    border-top: solid 1px black; }

.row5-col1 {
  grid-column: 1;
  grid-row: 4;
  border-top: solid 1px black;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%; }
  .row5-col1 .row5-col1-row1 {
    grid-column: 1;
    grid-row: 1;
    border-right: solid 1px black;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%; }
    .row5-col1 .row5-col1-row1 .row5-col1-row1-col1 {
      grid-column: 1;
      grid-row: 1;
      border-right: solid 1px black; }
    .row5-col1 .row5-col1-row1 .row5-col1-row1-col2 {
      grid-column: 2;
      grid-row: 1; }
  .row5-col1 .row5-col1-row2 {
    grid-column: 1;
    grid-row: 2;
    border-top: solid 1px black; }

.row5-col2 {
  grid-column: 2;
  grid-row: 4;
  border-right: solid 1px black;
  border-top: solid 1px black; }

.row5-col3 {
  grid-column: 3;
  grid-row: 4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%; }
  .row5-col3 .row5-col3-row1 {
    grid-column: 1;
    grid-row: 1;
    border-top: solid 1px black;
    border-right: solid 1px black; }
  .row5-col3 .row5-col3-row2 {
    grid-column: 1;
    grid-row: 2;
    border-top: solid 1px black;
    border-right: solid 1px black; }

.row6-col1 {
  grid-column: 1;
  grid-row: 5;
  border-top: solid 1px black;
  border-right: solid 1px black; }

.row6-col2 {
  grid-column: 2;
  grid-row: 5;
  border-top: solid 1px black;
  border-right: solid 1px black; }

.row6-col3 {
  grid-column: 3;
  grid-row: 5;
  border-top: solid 1px black;
  border-right: solid 1px black; }

footer {
  display: grid;
  width: 100vw;
  grid-template-columns: 33.333333% 33.333333% 33.333333%;
  grid-template-rows: 90px; }
  footer .row7-col1 {
    grid-column: 1;
    grid-row: 1;
    border-top: solid 1px black;
    border-right: solid 1px black; }
  footer .row7-col2 {
    grid-column: 2;
    grid-row: 1;
    border-top: solid 1px black;
    border-right: solid 1px black; }
  footer .row7-col3 {
    grid-column: 3;
    grid-row: 1;
    border-top: solid 1px black;
    border-right: solid 1px black; }

.large-text {
  font-size: 2.2em; }

.medium-text {
  font-size: 0.95em; }

.small-text {
  font-size: 0.8em;
  width: 100%;
  line-height: 20px; }

.center-block {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.forme {
  position: relative;
  top: -90px;
  left: 50%;
  transform: translateX(-50%); }

p {
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 1.6em;
  font-weight: lighter;
  letter-spacing: 1px; }

a:link {
  text-decoration: none; }

.row2-col1-row1 {
  padding: 40px; }
  .row2-col1-row1 .guitar {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center; }
  .row2-col1-row1 .corde1 {
    width: 1px;
    height: 100%;
    background-color: black;
    margin: 0 35px; }
  .row2-col1-row1 .corde2 {
    width: 1px;
    height: 100%;
    background-color: black;
    margin: 0 35px; }
  .row2-col1-row1 .corde3 {
    width: 1px;
    height: 100%;
    background-color: black;
    margin: 0 35px; }
  .row2-col1-row1 .corde4 {
    width: 1px;
    height: 100%;
    background-color: black;
    margin: 0 35px; }
  .row2-col1-row1 .corde5 {
    width: 1px;
    height: 100%;
    background-color: black;
    margin: 0 35px; }

.row2-col3 {
  padding: 14px; }
  .row2-col3 .cadre1 {
    border: 1px solid black;
    height: 100%;
    padding: 14px; }
  .row2-col3 .cadre2 {
    border: 1px solid black;
    height: 100%;
    text-align: center;
    position: relative; }
    .row2-col3 .cadre2 .medium-text {
      margin-top: 10px; }
    .row2-col3 .cadre2 .small-text {
      position: absolute;
      bottom: 20px; }

.row2-col1-row2,
.row3-col1-row1-col2,
.row3-col3-col1,
.row4-col1-row2,
.row4-col2-row1,
.row4-col2-row2-col2,
.row5-col1-row1-col1,
.row5-col3-row1,
.row6-col1,
.row6-col2,
.row6-col3 {
  position: relative; }

.titre {
  position: relative;
  height: auto;
  width: 90%;
  margin-left: 20px;
  top: 20px; }

.schiele {
  position: absolute;
  display: flex;
  width: 90%;
  height: 20px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); }
  .schiele img {
    width: 12px;
    height: 12px;
    margin-top: 4px; }

.row3-col1-row1-col1 {
  position: relative; }
  .row3-col1-row1-col1 .back {
    background-image: url("../../assets/img/gloryHoleBack.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center; }
  .row3-col1-row1-col1 .front {
    position: absolute;
    background-image: url("../../assets/img/gloryHoleFront.png");
    width: 100%;
    top: 0;
    height: 100%;
    background-size: cover;
    background-position: center center; }

.row3-col1-row2 {
  background-image: url("../../assets/img/wagner.jpg");
  background-size: cover; }

.row3-col3-col2 {
  background-image: url("../../assets/img/schiele.jpg");
  background-size: cover; }

.row4-col2-row2-col1 {
  background-image: url("../../assets/img/klimt.jpg");
  background-size: cover; }

.row5-col1-row2 {
  background-image: url("../../assets/img/moser.jpg");
  background-size: cover; }

.row3-col2 {
  padding: 28px; }
  .row3-col2 .img-block {
    background-image: url("../../assets/img/schiele-portrait.jpg"); }

.row4-col1-row1 {
  padding: 28px; }
  .row4-col1-row1 .img-block {
    background-image: url("../../assets/img/klimt-portrait.jpg"); }

.row4-col3-row2 {
  padding: 28px; }
  .row4-col3-row2 .img-block {
    background-image: url("../../assets/img/wagner-portrait.jpg"); }

.row5-col2 {
  padding: 28px; }
  .row5-col2 .img-block {
    background-image: url("../../assets/img/moser-portrait.jpg"); }

.img-block {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center; }

.text-block {
  display: flex;
  width: auto;
  height: 20px; }
  .text-block p {
    width: auto; }

* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  overflow-x: hidden; }

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }
  .logo svg {
    width: 78%;
    height: auto;
    margin: auto; }

.sound {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }
  .sound svg {
    width: 30%;
    height: auto;
    margin: auto;
    padding-left: 10px; }

.hamburger {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }
  .hamburger svg {
    margin: auto; }

.arrow {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  width: 20%;
  height: 100%;
  margin: auto; }
  .arrow svg {
    width: 10%;
    height: auto;
    transform: rotate(90deg);
    margin-left: auto; }
  .arrow p {
    font-size: 0.8em; }

.row1-col1:hover {
  background-color: black; }
  .row1-col1:hover svg {
    fill: white; }
  .row1-col1:hover p {
    color: white; }
  .row1-col1:hover .row1-col1-col1 {
    border-right: 1px solid white; }
  .row1-col1:hover .row1-col1-col1-row2 {
    border-top: 1px solid white;
    border-bottom: 1px solid white; }

.row1-col3-col1:hover {
  background-color: black; }
  .row1-col3-col1:hover polygon {
    stroke: white; }
  .row1-col3-col1:hover line {
    stroke: white; }

.row1-col3-col2:hover {
  background-color: black; }
  .row1-col3-col2:hover polygon {
    stroke: white;
    fill: white; }
  .row1-col3-col2:hover line {
    stroke: white; }
  .row1-col3-col2:hover p {
    color: white; }

.row1-col3-col3:hover {
  background-color: black; }
  .row1-col3-col3:hover line {
    stroke: white; }
